:root {
    --background: rgb(110, 110, 110);
    --header-background: rgb(117, 117, 117);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background-image: url('https://img.freepik.com/free-vector/realistic-fog-background_23-2149115275.jpg?w=1800&t=st=1667331660~exp=1667332260~hmac=51c9ce9be8ec403863ea60593f0f555708a35744d38561c7a2791384945ded25');
    display: grid;
    grid-template-rows: auto 1fr;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header .logo {
    height: 100%;
}

main {
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#spooky-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
}

.house {
    width: 200px;
    position: relative;
    top: 0;
    left: 0;
}

#opener {
    display: flex;
    justify-content: center;
}

button {
    color: white;
    background: rgb(42, 26, 51);
    width: 50%;
}

.ghost {
    width: 80px;
    position: absolute;
    left: 20px;
}

.hidden {
    display: none;
}

.spooky {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#stats {
    display: flex;
    justify-content: center;
    gap: 50px;
    font-weight: bold;
    font-size: larger;
}

#btn-reset {
    max-width: 50px;
}

h2 {
    background-color: rgb(82, 42, 42);
    border-radius: 10px;
}
